In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import os
from pathlib import Path
import matplotlib.pyplot as plt

In [2]:
dataset_path = "../
pd.read_csv("dane_for_std.csv", sep=";")

In [3]:
def check_for_percentage_values(dataframe):
    """Returns True if any output values in a dataframe are represented as percantage, returns False otherwise."""
    return (((data.loc[:, 'ch4':].sum(axis=1) > 1.01) | (data.loc[:, 'ch4':].sum(axis=1) < 0.99)).any())

def scale_percentage_values(dataframe):
    """Divides the output part by 100 where values are represented as percentage."""
    
    ar = dataframe.values
    col = dataframe.columns
    ar[:, 5:][ar[:, 5:].sum(axis=1) > 2] = ar[:, 5:][ar[:, 5:].sum(axis=1) > 2] / 100
    return pd.DataFrame(ar, columns=col)

In [4]:
data = scale_percentage_values(dataset)
print(check_for_percentage_values(data))

False

In [5]:
grouped =  data.groupby(['ch4_flow', 't_center', 'nc', 'sc', 'm_Ni'], sort=False)
av_data = grouped.mean()

In [6]:
# Transform multiindex back into columns
av_data.reset_index(drop=False, inplace=True)

In [7]:
# Save to file
# av_data.to_csv("averaged_data.csv", index=False)

In [8]:
grouped.count()

                                    ch4  h2  co2  co
ch4_flow t_center nc  sc  m_Ni
50.0     600.0    3.0 3.0 0.174717   79  79   79  79
         625.0    3.0 3.0 0.174717   11  11   11  11
35.0     625.0    4.0 5.0 0.174717    4   4    4   4
47.0     625.0    0.5 6.0 0.174717    4   4    4   4
50.0     625.0    2.0 4.0 0.174717    5   5    5   5
...                                 ...  ..  ...  ..
43.0     625.0    3.7 3.5 0.174717    1   1    1   1
37.0     625.0    4.3 4.0 0.174717    1   1    1   1
33.0     625.0    5.0 4.5 0.174717    1   1    1   1
30.0     625.0    5.7 5.0 0.174717    1   1    1   1
27.0     625.0    6.3 5.5 0.174717    1   1    1   1

[973 rows x 4 columns]

In [9]:
((grouped.count() < 5).any(axis=1)).values.shape

(973,)

In [10]:
# Maximum number of measurments for specific set of input values to be included
max_count = 2

In [11]:
av_data_count = av_data.loc[((grouped.count() <= max_count).any(axis=1)).values, :]

In [12]:
av_data_count

,ch4_flow,t_center,nc,sc,m_Ni,ch4,h2,co2,co
25,50.0,525.0,0.5,5.5,0.174717,0.295174,0.557445,0.130163,0.017217
26,50.0,525.0,1.0,5.0,0.174717,0.304142,0.551674,0.126171,0.018013
27,50.0,525.0,1.5,4.5,0.174717,0.306100,0.550067,0.124675,0.019158
28,50.0,525.0,2.5,3.5,0.174717,0.330392,0.530608,0.115614,0.022886
29,50.0,525.0,3.5,2.5,0.174717,0.370960,0.497387,0.101494,0.030159
...,...,...,...,...,...,...,...,...,...
968,43.0,625.0,3.7,3.5,0.174717,0.147222,0.673467,0.120637,0.058673
969,37.0,625.0,4.3,4.0,0.174717,0.131095,0.686879,0.125217,0.056810
970,33.0,625.0,5.0,4.5,0.174717,0.114600,0.701327,0.130372,0.053701
971,30.0,625.0,5.7,5.0,0.174717,0.106073,0.708347,0.133160,0.052420
972,27.0,625.0,6.3,5.5,0.174717,0.095002,0.717830,0.136583,0.050585

In [13]:
av_data_count

,ch4_flow,t_center,nc,sc,m_Ni,ch4,h2,co2,co
25,50.0,525.0,0.5,5.5,0.174717,0.295174,0.557445,0.130163,0.017217
26,50.0,525.0,1.0,5.0,0.174717,0.304142,0.551674,0.126171,0.018013
27,50.0,525.0,1.5,4.5,0.174717,0.306100,0.550067,0.124675,0.019158
28,50.0,525.0,2.5,3.5,0.174717,0.330392,0.530608,0.115614,0.022886
29,50.0,525.0,3.5,2.5,0.174717,0.370960,0.497387,0.101494,0.030159
...,...,...,...,...,...,...,...,...,...
968,43.0,625.0,3.7,3.5,0.174717,0.147222,0.673467,0.120637,0.058673
969,37.0,625.0,4.3,4.0,0.174717,0.131095,0.686879,0.125217,0.056810
970,33.0,625.0,5.0,4.5,0.174717,0.114600,0.701327,0.130372,0.053701
971,30.0,625.0,5.7,5.0,0.174717,0.106073,0.708347,0.133160,0.052420
972,27.0,625.0,6.3,5.5,0.174717,0.095002,0.717830,0.136583,0.050585

In [14]:
# Save to file
Path("count{}".format(max_count)).mkdir(parents=True, exist_ok=True)
filename = "count{0}/averaged_data_count{0}.csv".format(max_count)
av_data_count.to_csv(filename, index=False)

In [21]:
data_count = grouped.count()['ch4'].values

In [31]:
# plt.figure(figsize=(8,5))
# plt.hist(data_count, bins=50);